<main class="container">
  <p>
    WE DID IT! We are beyond grateful for our Family and Friends that made
    yesterdays event the best ever (9/12/20). To quote my sister and Maid of
    Honor Cassie Jo. We made lemons out of lemonade. (Not an easy task). For
    anyone who missed the event. We recorded it so you can watch it! For
    everyone else who did get to watch it live, enjoy watching it as many times
    as possible again! We also attached our Vows and the Poem. View the wedding
    in the link below (the first couple seconds are black, but it comes on after
    ~15 seconds)
  </p>
  <a
    class="btn btn-danger"
    href="https://drive.google.com/drive/folders/1k8o15LYyCKPL_PlsNlu-FR6FESUnxYBR?fbclid=IwAR1PcaWEWiWUUWquvm5LDPlny0LhmOTE3eBOLDi02JK1imcXlNqqsAlfjYk"
    >Wedding Google Drive</a
  >
</main>
