/* You can add global styles to this file, and also import other style files */

html,
body {
	min-width: 0 !important;
}

body {
	background-image: linear-gradient(to bottom right, #4169e1, silver);
}

#zmmtg-root {
	background-color: white !important;
	width: 0% !important;
	height: 0% !important;
}
.meeting-client-inner {
	height: 90% !important;
	top: 7vh !important;
	max-height: 100% !important;
	margin-bottom: 0.01em !important;
	overflow-y: scroll;
}
.join-dialog {
	width: 100% !important;
	max-height: 75% !important;
}

#wedding {
	text-align: center;
	color: black;
	font-family: cursive;
	font-style: italic;
	font-weight: bold;
}

.button-wrapper {
	display: flex;
	justify-content: space-around;
	padding: 1vh;
}

/* @media only screen and (max-width: 500px) {
	.meeting-client-inner {
		top: 12vh !important;
	}
} */

@media only screen and (max-width: 850px) {
	.meeting-client-inner {
		top: 13vh !important;
	}
}

@media only screen and (orientation: portrait) {
	.footer {
		position: inherit !important;
	}
}
